<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<div class="wrapper">
  <%= react_component('NavBar', {
    leftItems: [
      {
        href: ENV.fetch('HOST', 'http://127.0.0.1:3000'), linkText: 'Home'
      },
      {
        href: booking_path, linkText: 'Book a place'
      },
      {
        href: favoriteplaces_path, linkText: 'Favorite Places'
      },
      {
        href: user_reservation_path, linkText: 'Your reservation'
      }
    ],
    rightItems: [
      {
        href: user_signed_in? ? edit_user_registration_path : new_user_registration_path,
        linkText: user_signed_in? ? current_user.full_name : 'Sing up'
      },
      {
        href: user_signed_in? ? destroy_user_session_path : new_user_session_path,
        linkText: user_signed_in? ? 'Logout' : 'Login'
      },
    ] }) %>
  <main>
    <div class="container">
      <%= yield %>
    </div>
  </main>
  <%= react_component('Footer') %>
</div>
</body>
</html>
